doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')

    script(src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r76/three.min.js")
    script(src="javascripts/TrackballControls.js")
    script(src="javascripts/glTF-parser.js")
    script(src="javascripts/glTFLoader.js")
    script(src="javascripts/glTFLoaderUtils.js")
    script(src="javascripts/glTFAnimation.js")
    script(src="javascripts/glTFShaders.js")
    script(src="javascripts/main.js")
  body
    block content
